 

html{
    background-color: whitesmoke;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   border-width: 9px;
   border-style: solid;
   border-color: whitesmoke;
}

h2, ul{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.code{
float:left;
width:33.33%;
padding:5px;
}
.row::after{
    content:"";
    clear:both;
    display:table;
}

body, .future, ul{
    background-color: white;
    border: 6px solid whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.linked, .homepage{
    width:50px;
    height: auto;
    border-radius: 6px;
 }

 .github{
    width:50px
    
} 